node_modules/
.env
http/

controllers/

utils/

middlewares/

config/

validators/entities/
validators/helpers/
validators/rules/

routes/auth.routes.js
routes/enrollments.routes.js
routes/monthly_finances.routes.js
routes/payments.routes.js
routes/plan_prices.routes.js
routes/plan_subjects.routes.js
routes/plans.routes.js
routes/schedule_students.routes.js
routes/schedules.routes.js
routes/student_plans.routes.js
routes/student_tutors.routes.js
routes/students.routes.js
routes/subjects.routes.js
routes/teacher_liquidations.routes.js
routes/teacher_subjects.routes.js
routes/teachers.routes.js
routes/tutors.routes.js
routes/users.routes.js

/index-prueba
